div[role="contentinfo"] {
  visibility: hidden;
  height: 0;
}

.wy-nav-content {
  max-width: 100% !important;
}

td:has(p > .red-cell) {
  background-color: red !important;
}

td:has(p > .green-cell) {
  background-color: green !important;
}
